<<
@configure
  connected:true
  title:"Registration Status"
  scripts:[
    "screen"
  ]
  stylesheets:[
    "main"
  ]
>>

<< extend "templates/master.ect" >>

<< block "init": >>

  <!-- {# if we have username proceed with SSO #} -->
  <!-- {# it'll be remote_user/email so we need to derive the username from the email address #} -->
  <!-- {# and add the email as an additional parameter #} -->
  <!-- {# a more robust solution of obtaining username explicitly from sso headers is under consideration #} -->

  <!-- {# if we don't have an SSO username, try LDAP instead #} -->

  {% set utils = aek.extension("CMAuthUtilities") %}
  {% set attrs = utils.getTokenAttributes() %}
  {% set username = attrs.username %}

  {% if username %}

    {% set service = aek.get_service("BANNER_XE_ACADEMIC_STATUS") %}
    {{ service.set_parameter("username", username )}}
    {{ service.set_parameter("bannerId", attrs.extraAttrs.bannerId) }}

  {% else %}

    {% set service = aek.get_anon_service("BANNER_XE_ACADEMIC_STATUS") %}

  {% endif %}

  {% if aek.action == "fetch-info" %}

    {{ aek.respond(service.response) }}

  {% endif %}


<< end >>
