@import "imports/aek-css-config";

// additional styles below
.ui.listview.menu.uniform >.item .label {
  width: 26% !important;
  font-weight: bold !important;
  background: #fff !important;
  color: #000 !important;
  text-transform: capitalize !important;
}
.ui.listview.menu.uniform >.item .label:after {
  content: ": ";
}
.capitalize {
  text-transform: capitalize !important;
}
i.check.icon {
  color: #085C11;
}
i.remove.icon {
  color:firebrick;
}

.ui.alt.message {
  background-color: #EEEEEE
  color: #000000
}
